@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.selected-class {
    filter: drop-shadow(0 0 3px white);
}

/*background images*/

.poke {
    background-image: url('/assets/backgrounds/poke_bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: lightslategray;
    background-blend-mode: color-burn;
}

.hunter {
    background-image: url('/assets/backgrounds/hunter_bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: darkslategray;
    background-blend-mode: soft-light;
}

.porygon {
    background-image: url('/assets/backgrounds/porygon_bg.webp');
    background-position: center;
    background-attachment: fixed;
}

.ghast {
    background-image: url('/assets/backgrounds/ghast_bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.monster {
    background-image: url('/assets/backgrounds/monster_bg.webp');
    background-size: cover;
    background-attachment: fixed;
}

.muk {
    background-image: url('/assets/backgrounds/muk_bg.webp');
    background-size: cover;
    background-attachment: fixed;
}

.pokeball {
    background-image: url('/assets/backgrounds/pokeball_bg.webp');
    background-size: cover;
    background-attachment: fixed;
}